.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0rem 0.5rem 3rem;
}

.App .btn {
  margin-top: 0.5rem;
  font-size: var(--xMediumFont);
  background-color:cornflowerblue;
  /* color: #282c34; */
  padding: 0.6rem 20rem;
  border: none;
  font-weight: var(--darkFontWeight);
}

/*------------------------------------- Media Queries -------------------------------------------*/
@media screen and (min-width:300px) and (max-width:375px) {
  .App .btn {
    padding: 0.6rem 5rem;
    width: 90%;
  }
}
@media screen and (min-width:375px) and (max-width:700px) {
  .App .btn {
    padding: 0.6rem 8rem;
    width: 90%;
  }
}
@media screen and (min-width:700px) and (max-width:850px) {
  .App .btn {
    padding: 0.6rem 17rem;
    /* width: 90%; */
  }
}